@import '~bootstrap/scss/bootstrap';

// landing page
.change-password {
  display: none;
}

.create-survey {
  display: none;
}

#get-surveys {
  display: none;
}

#sign-out {
  display: none;
}

// end landing page
