@import '~bootstrap/scss/bootstrap';

// landing page
.sign-up {
  display: none;
}

.change-password {
  display: none;
}

.create-survey {
  display: none;
}

#get-surveys {
  display: none;
}

#sign-out {
  display: none;
}

// end landing page

// fail message
.fail {
  color: $red;
}

.success {
  color: $green;
}
